/* Сброс стандартных стилей 
=================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* Сброс стандартных стилей 
=================================== */

/* 
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;  
*/   

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}