/* Сброс стандартных стилей 
=================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* Шрифты
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;  
*/   

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* Контейнер 
=================================== */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Шапка 
=================================== */
.header {
    width: 100%;
    height: 750px;
    background-color: #242947;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
}

/* Верхнее меню 
=================================== */
.header__logo img {
    display: block;
}
.header__menu-con {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #4c5069;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__menu-con.fixed {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background-color: #2b324f;
    height: 61px;
    z-index: 3;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu.show {
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    bottom: -195px;
    right: 0;
    background-color: #2b324f;
    z-index: 3;

}
.header__menu.show > .header__menu__link {
    display: block;
    padding: 12px 24px 12px 48px;
    margin: 0;
}
.header__menu__link{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    opacity: .75;
}
.header__menu__link:not(:first-child) {
    margin-left: 60px;
}
.header__menu__link:hover {
    opacity: 1;
}

/* Интро тексты в шапке
=================================== */
.header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 140px 100px 0;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
.header__slogan {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 70px;
}

/* Кнопочки
=================================== */
.btn {
    padding: 14px 50px;
    border: none;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 1px;
}
.btn--red {
    background-color: #e84545;
}
.btn--red:hover {
    background-color: #cc2828;
}
.btn--download {
    padding: 14px 83px;
}

/* Бургер
=================================== */
.burger {
    position: relative;
    display: none;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}
.burger__item {
    display: block;
    margin-left: 10%;
    width: 90%;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    opacity: .75;
}
.burger__item::before,
.burger__item::after {
    content: "";
    position: absolute;
    right: 0;
    height: 4px;
    background: #fff;
    border-radius: 2px;    
}
.burger__item::before {
    top: 0px;
    width: 100%;
    
}
.burger__item::after{
    bottom: 0;
    width: 80%;
}
.burger:hover .burger__item {
    opacity: 1;
}
/* Секция фичи - features
=================================== */
.features {
    padding: 125px 0 50px;
}
.features__inner {
    display: flex;
    flex-wrap: wrap;
}
.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
    padding: 0 46px;
    margin-bottom: 75px;
}
.features__icon {
    display: block;
    margin-bottom: 23px;
}
.features__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
}
.features__text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}

/* Секция работы - works
=================================== */
.works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}
.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
}
.works__image {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #e84545;
    opacity: 0;
    transition: opacity .2s linear;
}
.works__item:hover .works__content {
    opacity: .9;
}
.works__title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.works__subtitle {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.3px;
}

/* Секция команда - team
=================================== */
.team {
    padding: 100px 0;
}
.team__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team__item {
    width: calc(25% - 24px);
}
.team__item + .team__item {
    margin-left: 20px;
}
.teammate__photo {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}
.teammate__name {
    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
    margin-bottom: 7px;
}
.teammate__function {
    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;  
    margin-bottom: 23px;  
}
.teammate__description {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 30px;
    /* margin: 0 25px 30px 0 ; */
}

/* Социальные кнопки - social
=================================== */
.social {
    display: flex;
    width: 126px;
}
.social__link {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #c6cacc;
    transition: background-color .2s linear;
}

.social__icon {
    fill: #c6cacc;
    width: 20px;
    height: 20px;
    margin: auto;
    transition: all .2s linear;
}
.social__link + .social__link {
    margin-left: 3px;
}
.social__link:hover {
    background-color: #c6cacc;
}
.social__link:hover .social__icon{
    fill: #000;
}

/* Отзывы клиентов - reviews
=================================== */
.reviews {
    background-color: #53354a;
}
.reviews__inner {
    display: flex;
    
}
.review__photo {
    position: relative;
    width: 50%;
    height: 500px;
}
.review__image {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
}
.review__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 85px;
    width: 50%;
}
.review__text {
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.16;
    color: #fff;
    margin-bottom: 40px;    
}
.review__author {
    font-size: 13px;
    line-height: 1.16;
    font-weight: 700;
    color: #fff;  
    text-transform: uppercase;  
}

/* Скачать продукт - downloads
=================================== */
.downloads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
}
.download__title {
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 12px;
    color: #2d3033;
}
.download__slogan {
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px; 
    color: #2d3033;   
}

/* Футер - footer
=================================== */
.footer {
    display: flex;
    flex-direction: column;
}
.footer__data {
    padding: 70px 0;
    display: flex;
    background-color: #3a3e64;    
    width: 100%;
}
.footer__con:last-child {
    padding: 0 20px;
}
.footer__con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
}
.footer__data__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 13px;
}
.footer__social {
    margin-top: 7px;    
}
.footer__social .social__link {
    border: 2px solid #fff;
}
.footer__social .social__icon {
    fill: #fff;
}
.address {
    text-align: center;
    font-style: normal;
}
.address p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color:  #9d9fb2;
}
.footer__data_about {
    width: 330px;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color:  #9d9fb2; 
    text-align: center;   
}
.footer__copyright {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 95px;
   background-color: #313454;
}
.footer__copyright__text {
    width: 310px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color:  #808080; 
    text-align: center; 
}
.footer__copyright__text span {
    color: #c8c9d1;
    font-weight: 400;
}

/* Медиа запросы
=================================== */
@media (max-width: 1200px) {
/* Works - работы */    
    .works__item {
        width: 50%;
    }
/* Отзывы - review */    
    .review__content {
        padding: 0 40px;
    }  
/* footer */     
    .footer__data_about {
        width: auto
    }
}
@media (max-width: 900px) {
/* Шапка */
    .header {
        height: auto;
    }
    .header__intro {
        padding: 60px 20px;
    }
/* Верхнее меню */
    .burger {
        display: flex;
    }
    .header__menu__link {
        display: none;
    }
/* Заголовок шапки и слоган */
    .header__title {
        font-size: 50px;
    }
    .header__slogan {
        margin-bottom: 40px;
    }
/* Features - фичи */    
    .features {
        padding: 75px 0 0 0;
    }
    .features__item {
        width: 50%;
    }
/* Team - команда */
    .team__inner {
        justify-content: space-evenly;
    }
    .team__item {
        width: 40%;
        text-align: center;
        margin-bottom: 25px;
    }
    .social {
        margin: 0 auto;
    }
/* Отзывы - review */    
    .reviews__inner {
        flex-direction: column;
    }     
    .review__photo {
        width: 100%;
        overflow: hidden;
        margin-top: 15px;        
    }
    .review__image {
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .review__content {
        width: 100%;
        padding: 40px 0;
    }
    .review__text {
        margin-bottom: 20px;    
    }    
}   
@media (max-width: 700px) {
/* Шапка */
    .header__title {
        font-size: 40px;
    }
    .header__slogan {
        margin-bottom: 18px;
    }
    .header__intro {
        padding: 40px 0;
    }
/* Features - фичи */    
    .features {
        padding: 75px 0 0 0;
    }
    .features__item {
        width: 100%;
    } 
/* Works - работы */    
    .works__item {
        width: 100%;
        height: 400px;
        background-size: cover;
    }   
/* Team - команда */
    .team {
        padding: 50px 0 25px;
    }
    .team__inner {
        justify-content: space-evenly;
    }
    .team__item {
        width: 60%;
        text-align: center;
        margin: 0 0 25px 0;
    }
    .team__item + .team__item {
        margin: 0 0 25px 0;
    }
    .social {
        margin: 0 auto;
    }
/* Секция загрузки - download */
    .downloads {
        padding: 60px 0;
    }      
/* footer */
    .footer__data {
        flex-direction: column;
        padding: 40px 0;
    }  
    .footer__con {
        width: 100%;
    } 
    .footer__con:first-child {
        margin-bottom: 13px;
    }
    .footer__social {
        margin-bottom: 19px;
    }  
}
@media (max-width: 480px) { 
/* Works - работы */    
    .works__item {
        width: 100%;
        height: 300px;
        background-size: cover;
    }      
/* Team - команда */
    .team__item {
        width: 85%;
        text-align: center;
        margin-bottom: 25px;
    }
/* Секция загрузки - download */
    .download__title {
        font-size: 26px;
    }
/* Отзывы - review */    
    .review__text {
        font-size: 32px;   
    } 
/* footer */
    .footer__copyright__text {
        margin: 0 15px;
    }            
}
