/* Сброс стандартных стилей 
=================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* Шрифты
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;  
*/   

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* Контейнер 
=================================== */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Шапка 
=================================== */
.header {
    width: 100%;
    height: 750px;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
}

/* Верхнее меню 
=================================== */
.header__logo img {
    display: block;
}
.header__menu-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #4c5069;
}
.header__menu a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    opacity: .75;
}
.header__menu a:not(:first-child) {
    margin-left: 60px;
}
.header__menu a:hover {
    opacity: 1;
}

/* Интро тексты в шапке
=================================== */
.header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 140px 100px 0;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
.header__slogan {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 70px;
}

/* Кнопочки
=================================== */
.btn {
    padding: 14px 50px;
    border: none;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 1px;
}
.btn--red {
    background-color: #e84545;
}
.btn--red:hover {
    background-color: #cc2828;
}
.btn--download {
    padding: 14px 83px;
}
/* Секция фичи - features
=================================== */
.features {
    padding: 125px 0 50px;
}
.features__inner {
    display: flex;
    flex-wrap: wrap;
}
.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
    padding: 0 46px;
    margin-bottom: 75px;
}
.features__icon {
    display: block;
    margin-bottom: 23px;
}
.features__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
}
.features__text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}

/* Секция работы - works
=================================== */
.works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}
.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
}
.works__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #e84545;
    opacity: 0;
    transition: opacity .2s linear;
}
.works__item:hover .works__content {
    opacity: .9;
}
.works__title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.works__subtitle {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.3px;
}

/* Секция команда - team
=================================== */
.team {
    padding: 100px 0;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
}
.team__item {
    width: 270px;
}
.team__item + .team__item {
    margin-left: 30px;
}
.teammate__photo {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}
.teammate__name {
    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
    margin-bottom: 7px;
}
.teammate__function {
    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;  
    margin-bottom: 23px;  
}
.teammate__description {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 30px;
    /* margin: 0 25px 30px 0 ; */
}

/* Социальные кнопки - social
=================================== */
.social {
    display: flex;
}
.social__link {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #c6cacc;
    transition: background-color .2s linear;
}

.social__icon {
    fill: #c6cacc;
    width: 20px;
    height: 20px;
    margin: auto;
    transition: all .2s linear;
}
.social__link + .social__link {
    margin-left: 3px;
}
.social__link:hover {
    background-color: #c6cacc;
}
.social__link:hover .social__icon{
    fill: #000;
}

/* Отзывы клиентов - Clients
=================================== */
.clients {
    display: flex;
    width: 100%;
}
.clients__photo {
    display: block;
    width: 50%;
}
.clients__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #53354a;
    width: 50%;
    padding: 0 200px 0 82px;
}
.clients__review {
    font-family: 'Cardo', serif;
    font-size: 36px;
    line-height: 1.16;
    color: #fff;
    margin-bottom: 40px;
}
.clients__data {
    font-size: 13px;
    line-height: 1.16;
    font-weight: 700;
    color: #fff;  
    text-transform: uppercase;  
}

/* Скачать продукт - downloads
=================================== */
.downloads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.download__title {
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 12px;
    color: #2d3033;
}
.download__slogan {
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px; 
    color: #2d3033;   
}

/* Футер - footer
=================================== */
.footer {
    display: flex;
    flex-direction: column;
}
.footer__data {
    padding: 70px 0;
    display: flex;
    background-color: #3a3e64;    
    width: 100%;
}
.footer__con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
}
.footer__data__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 13px;
}
.footer__social {
    margin-top: 7px;    
}
.footer__social .social__link {
    border: 2px solid #fff;
}
.footer__social .social__icon {
    fill: #fff;
}
.address {
    text-align: center;
    font-style: normal;
}
.address p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color:  #9d9fb2;
}
.footer__data_about {
    width: 330px;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color:  #9d9fb2; 
    text-align: center;   
}
.footer__copyright {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 95px;
   background-color: #313454;
}
.footer__copyright__text {
    width: 310px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color:  #808080; 
    text-align: center; 
}
.footer__copyright__text span {
    color: #c8c9d1;
    font-weight: 400;
}